.list-group-item {
    border: 1px solid #d0d0d0 !important;
    border-radius: 4px !important;
    padding: 15px !important;
    margin-top: 10px !important;
    margin-bottom: 5px !important;
    background: white !important;
}

.list-group-item:hover {
    background-color: #f9f9f9 !important;
}

.stock-info {
    margin-bottom: 10px;
}

.stock-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
}

.stock-ticker {
    font-size: 16px;
}

.change {
    font-size: 14px;
}

.stock-name {
    font-size: 14px;
    color: #555;
    margin-bottom: 5px;
}

.stock-price {
    font-size: 16px;
    font-weight: bold;
}
